.Schedule {
  .row {
    display: flex;
    gap: calc(12rem / 16);
  }

  form {
    display: flex;
    flex-direction: column;
    gap: calc(12rem / 16);
  }

  input,
  button {
    padding: calc(12rem / 16) calc(18rem / 16);
    color: var(--white);
    font-size: 1rem;
    outline: none !important;
    border: none;
    border-radius: calc(4rem / 16);
    width: 100%;
    background-color: var(--grey);
  }

  button {
    background-color: transparent;
    border: calc(2rem / 16) solid var(--primary);
    font-weight: 600;
    cursor: pointer;
    transition: all 0.1s ease-in-out;

    &:hover {
      background-color: var(--opaque-primary);
    }
  }
}
