:root {
  --black: #242424;
  --grey: #2b2b2b;
  --primary: #4ad4c1;
  --opaque-primary: #4ad4c226;
  --white: #fff;
  --dark-white: #ffffffcc;

  --max-width: calc(1128em / 16);
  --margin: calc(64rem / 16);
  --nav-height: calc(80rem / 16);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: inherit;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  background-color: var(--black);
  color: var(--white);
}

.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100vw;
}

.App {
  padding-top: var(--nav-height);
  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto;
}
